<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjh.ex_0823">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/><!-- 전화걸기 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/><!-- 주소록 접근 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 저장소에 파일생성 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex_0823">
        <activity
            android:name=".PermissionActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SwipeRefreshActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".PtoZActivity"
            android:exported="true"></activity>
    </application>

</manifest>